body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.document-container {
    margin: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

iframe {
    width: 100%;
    height: 100%;
}
